body {
  line-height: 1.5;
  color: #222;
  width: 40em;
  margin: 0 auto;
  font-family: 'Times New Roman', 'Times', serif;
}

h1, h2, h3, h4 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-shadow: lightgray 1px 1px 2px;
  width: 100%
}
h1 { font-size: 30px; border-top: silver 1px solid; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }

pre {
  border: 1px dotted #6666aa;
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
  font-family: Monaco, monospace;
  font-size: 10px;
}

blockquote {
  border: 1px #e6ddcb solid;
  background-color: #fbf2ef;
}

a { text-decoration: none;  }
a:hover { text-decoration: underline; }

.Warning {
  border: 1px solid red;
  background-color: pink;
  padding: 5px;
  font-weight: bold;
}
